body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
h2{
  color: white;
  font-weight: 700;
}
h3 {
  color: white;
}
p {
  color: white;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(218, 22%, 67%);
}
.attribution a {
   color: hsl(228, 45%, 44%);
   text-decoration: none;
 }
 /* grid container */
 .box {
   padding: 90px 60px;
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: auto, auto, auto;
   align-content: center;
 }
/* grid items */
 .top {
   background-color: white;
   border-radius: 10px 10px 0 0;
   padding: 20px;
 }
.left {
  background-color: hsl(179, 62%, 43%);
  padding: 20px;
}
.right {
  /* Custom color for background */
  background-color: hsl(179, 63%, 44%);
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
/* button */
.sign-up {
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 130px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* soft shadow */
  box-shadow: 1px 1px 5px #aaaaaa;
}
/* 30-day, hassle-free money back guarantee text */
.hassle {
  color: hsl(71, 73%, 54%);
}
/* Join our community text */
.join {
  color: hsl(179, 62%, 43%);
}
/* Gain access to our full library... text */
.gain {
  color: hsl(218, 22%, 67%);
  line-height: 1.8;
}
/* per month text */
.per {
  /* custom colour */
  color: hsl(179, 63%, 65%);
  font-size: 20px;
  font-weight: 400;
}
/* &dollar;29 text */
.dollar {
  font-size: 40px;
}
/* text underneath why us heading */
.why {
  line-height: 60%;
}
/* Why Us heading */
.h3-why {
  margin-bottom: 30px;
}
/* Responsive section */

@media only screen and (min-width: 1200px){
  /* for desktop */
  .box {
    grid-template-columns: 50% 50%;
    padding: 150px 350px;
  }
  .top {
    grid-column: 1 / span 2;
    padding: 40px 70px;
  }
  .right {
    border-radius: 0 0 10px 0;
    padding: 40px 40px;
  }
  .left {
    border-radius: 0 0 0 10px;
    padding: 40px 40px;
  }
  .sign-up {
    padding: 15px 110px;

  }
}
